---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Discover the latest toy roblox all the roblox box games in a box";
const description = "Roblox (/ˈroʊblɒks/, ROH-bloks) — это типа онлайн платформа и game dev система, созданная Roblox Corporation. Она даёт тебе возможность 直接用Lua编程, создавать свои игры, и кайфовать в играх от других юзеров. The OGs David Baszucki 和 Erik Cassel запустили проект в 2004 году, а в паблик он вылетел в 2006.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "Roblox (/ˈroʊblɒks/, ROH-bloks) — это типа онлайн платформа и game dev система, созданная Roblox Corporation. Она даёт тебе возможность 直接用Lua编程, создавать свои игры, и кайфовать в играх от других юзеров. The OGs David Baszucki 和 Erik Cassel запустили проект в 2004 году, а в паблик он вылетел в 2006."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />

    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

    
</Layout>
