---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/portfolio/Experience.astro";
import HeroIndex from "../components/portfolio/HeroIndex.astro";
import ListProjects from "../components/portfolio/ListProjects.astro";
import { Icon } from "astro-icon/components";
const pageTitle = " Pre-order roblox toy | robloxbox.com ";
const description = "Is a modern, minimalist interactive hand crafted from brithis creatives address to childrent age 10+.";
const ogimage = {
  url: "https://i.imgur.com/sX3NwEO.png",
  alt: "robloxbox.com of a web portfolio with a modern and dark design. Featuring Fernando López, a Frontend Developer with 8 years of experience, highlighting his passion for development and technology. Includes contact sections, projects, and a technology stack with technologies like HTML5, JavaScript, TypeScript, Angular, Node.js, CSS, Tailwind, and more.",
};
import Heading from "../components/ui/Heading.astro";
---

<Layout pageTitle={pageTitle} description={description} ogimage={ogimage}>
  <HeroIndex />


  <section
    class="bg-gradient-to-t dark:from-[#0e0e10] from-[#fff] from-50% to-transparent to-100% scroll-m-16"
    id="projects"
  >
    <div class="flex flex-col gap-8 max-w-7xl mx-auto">
      <ListProjects>
        <div class="flex gap-4 items-center justify-center text-center">
          <Icon class="text-3xl dark:text-white text-blacktext" name="code" />
          <Heading text="Our" textGradient="Products" level={2}/>
        </div>
        <p
          class="z-2 text-center mx-auto text-lg max-xl:text-base max-w-2xl dark:text-gray-200 text-blacktext my-6 leading-6 font-medium"
        >
        We love to share were we are all the way. Invest in your Grandkids vision 2100.
        </p>

      </ListProjects>
    </div>
  </section>

</Layout>
